
<h1>Admin page</h1>

<a class="nav-link" asp-area="" asp-controller="Roles" asp-action="Index">Voir les Roles</a>

<a class="nav-link" asp-area="" asp-controller="Type" asp-action="Liste">Voir les type de question</a>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}