@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenu sur mon site pour l'examen final d'Asp</h1>
    <p>Les options sont en haut pour voir les liste</p>
    <p>le but de ce site est de créer des question les ajouter à un formulaire et ensuite y répondre avec un utilisateur</p>
</div>
