@model pAspFinal.ViewModels.CreerRolesViewModel

@{
    ViewBag.Title = "Creer un role";
}


<h1>Ajouter un nouveau Role</h1>

<h2 class="h4">Role</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Creer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomDeRole" class="control-label" aria-required="true"></label>
                <input asp-for="NomDeRole" class="form-control" />
                <span asp-validation-for="NomDeRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Creer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste de role</a>
</div>