@model pAspFinal.Models.Type

@{
    ViewData["Title"] = "Ajouter";
}

<h1>Ajouter</h1>

<h2 class="h4">Type</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Ajouter">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balise" class="control-label"></label>
                <input asp-for="Balise" class="form-control" />
                <span asp-validation-for="Balise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <input asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Type" asp-action="Liste">>Retour a la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
