@model pAspFinal.ViewModels.AjouterQuestionViewModel

@{
    ViewData["Title"] = ViewBag.Titre;
}

<h1>@ViewBag.Titre</h1>

<h2>Question</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Ajouter">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question.Titre" class="control-label">Le titre de la question: </label>
                <input asp-for="Question.Titre" class="form-control" />
                <span asp-validation-for="Question.Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.Commentaire" class="control-label"></label>
                <input asp-for="Question.Commentaire" class="form-control" />
                <span asp-validation-for="Question.Commentaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.ParDefault" class="control-label"></label>
                <input asp-for="Question.ParDefault" class="form-control" />
                <span asp-validation-for="Question.ParDefault" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.ParentID" class="control-label"></label>
                <select asp-for="Question.ParentID" class="form-control" asp-items="ViewBag.ParentID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Question.TypeID" class="control-label"></label>
                <select asp-for="Question.TypeID" class="form-control" asp-items="ViewBag.TypeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Question.SectionID" class="control-label"></label>
                <select asp-for="Question.SectionID" class="form-control" asp-items="ViewBag.SectionID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
